.download-btn {
  border-radius: 10px !important;
  background: transparent !important;
  color: white !important;
  border: 2px solid #4A0BDB;
}
#home {
  padding-top: 200px;
  height: 100vh;
  width: 100vw;
}
.link {
  color: white;
}

.texts {
  text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
}
.flower__head {
  position: relative;
}
.flower__head {
  /* width: 120px;
  height: 40px; */
  border-radius: 20px;
  background: var(--main-flower);
  margin-top: 50px;
}

.flower__head::after,
.flower__head::before {
  content: '';
  position: absolute;
  background: var(--main-flower);
  border-radius: 20px;
  /* width: 120px;
  height: 40px; */
  transform: rotate(60deg);
}