.download-btn {
  border-radius: 10px !important;
  background: #fa6454 !important;
  color: white !important;
}
#home {
  padding-top: 200px;
  height: 90vh;
}
.link {
  color: white;
}
.icon {
  background-color: #fa6454;
}
