.contact-form {
  display: flex;
  flex-direction: column;
  width: auto;
}

#contactus {
  background-color: black;
}
.input {
  width: 40%;
  margin: auto;
  border-radius: 10px;
  background: black !important;
  border: 1px solid gray;
  padding: 15px;
  color: white;
}
.submit-btn {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #fa6454;
  border-radius: 10px;
}
